.dashboard__resource_table {
    width:100%;
    border-collapse: collapse;
}

.dashboard__resource_table tr:nth-child(even) {
    background-color:#151c2b;
}

.dashboard__resource_table tr {
    width: 100%;
}

.dashboard__resource_table td {

    padding: 2rem 2rem;
}

.dashboard__resource a {
    color:  #F93C79;
    padding: 0 5px;
    cursor: pointer;
    font-weight: 700;
    transition: .3s;
    backface-visibility: hidden;
}

.dashboard__resource a:hover{
    opacity: .8;
    font-weight: 700;
    transition: .3s;
}